[submodule "config/artnet-dmx-converter"]
	path = config/artnet-dmx-converter
	url = git@github.com:H3mul/esphome-artnet-to-dmx-node.git
[submodule "config/sound-thermometer"]
	path = config/sound-thermometer
	url = git@github.com:H3mul/esphome-sound-thermometer.git
