esp32:
  board: esp32dev
  framework:
    type: arduino

esphome:
  name: artnet-dmx-converter
  friendly_name: ArtNet to DMX Converter

  # platformio_options:
  #   board_build.flash_mode: dio
  on_boot:
    # Use a high priority like 600 to ensure most components are initialized.
    # The default is 0.
    priority: 600 
    then:
      # Apply DMX Port A settings
      - lambda: |-
          id(dmx_bus_a).set_enabled(id(dmx_a_enabled).state);
          id(dmx_bus_a).set_write_frequency((float)id(dmx_a_write_frequency).state);
          id(dmx_bus_a).set_read_frequency((float)id(dmx_a_read_frequency).state);
      # Apply DMX Port B settings
      - lambda: |-
          id(dmx_bus_b).set_enabled(id(dmx_b_enabled).state);
          id(dmx_bus_b).set_write_frequency((float)id(dmx_b_write_frequency).state);
          id(dmx_bus_b).set_read_frequency((float)id(dmx_b_read_frequency).state);
      # Apply ArtNet settings
      - lambda: |-
          id(artnet_node).set_net((uint8_t)id(artnet_net).state);
          id(artnet_node).set_subnet((uint8_t)id(artnet_subnet).state);
          id(artnet_node).set_output_net((uint8_t)id(artnet_dest_net).state);
          id(artnet_node).set_output_subnet((uint8_t)id(artnet_dest_subnet).state);
          id(artnet_node).set_output_address(id(artnet_dest_address).state);
          id(artnet_node).set_route_universe_by_index(0, (uint8_t)id(artnet_dmx_a_universe).state);
          id(artnet_node).set_route_universe_by_index(1, (uint8_t)id(artnet_dmx_b_universe).state);
      # Apply DMX A routing
      - lambda: |-
          auto routing_a = id(dmx_a_routing).state;
          if (routing_a == "Disconnected") {
            id(artnet_node).set_route_enabled_by_index(0, false);
          } else if (routing_a == "ArtNet to DMX") {
            id(artnet_node).set_route_enabled_by_index(0, true);
            id(artnet_node).set_route_direction_by_index(0, esphome::artnet::Direction::DIRECTION_TO_DMX);
          } else if (routing_a == "DMX to ArtNet") {
            id(artnet_node).set_route_enabled_by_index(0, true);
            id(artnet_node).set_route_direction_by_index(0, esphome::artnet::Direction::DIRECTION_TO_ARTNET);
          }
      # Apply DMX B routing
      - lambda: |-
          auto routing_b = id(dmx_b_routing).state;
          if (routing_b == "Disconnected") {
            id(artnet_node).set_route_enabled_by_index(1, false);
          } else if (routing_b == "ArtNet to DMX") {
            id(artnet_node).set_route_enabled_by_index(1, true);
            id(artnet_node).set_route_direction_by_index(1, esphome::artnet::Direction::DIRECTION_TO_DMX);
          } else if (routing_b == "DMX to ArtNet") {
            id(artnet_node).set_route_enabled_by_index(1, true);
            id(artnet_node).set_route_direction_by_index(1, esphome::artnet::Direction::DIRECTION_TO_ARTNET);
          }

wifi:
  networks:
  - ssid: !secret wifi_ssid
    password: !secret wifi_password
  fast_connect: true
  use_address: !secret artnet_local_ip

logger:
  baud_rate: 0
  level: DEBUG
  # initial_level: DEBUG
  # logs:
    # dmx: VERY_VERBOSE
    # artnet: VERBOSE

ota:
  - platform: web_server
  - platform: esphome
    password: !secret ota_password

<<: !include base-esphome-configuration.yaml

web_server:
    port: 80
    auth:
      username: !secret web_server_username
      password: !secret web_server_password
    local: true
    version: 3
    sorting_groups:
      - id: dmx_port_hardware
        name: "DMX Port Hardware Settings"
        sorting_weight: 0        
      - id: artnet_node_settings
        name: "ArtNet Node Settings"
        sorting_weight: 1        
      - id: artnet_destination_settings
        name: "ArtNet Destination Settings"
        sorting_weight: 2
      - id: artnet_routing_settings
        name: "ArtNet Routing Settings"
        sorting_weight: 3

external_components:
  # - source: github://H3mul/esphome-dmx
  # - source: github://H3mul/esphome-artnet
  - source: ../../esphome-dmx/components
  - source: ../../esphome-artnet/components

# Configure DMX bus instances for bidirectional communication
dmx:
  - id: dmx_bus_a
    mode: send
    name: "Port A"
    write_frequency: 40
    enable_pin:
      number: GPIO33
    tx_pin:
      number: GPIO25
    rx_pin:
      number: GPIO26
    dmx_port_id: 1

  - id: dmx_bus_b
    mode: send
    name: "Port B"
    write_frequency: 40
    enable_pin:
      number: GPIO32
    tx_pin:
      number: GPIO19
    rx_pin:
      number: GPIO18
    dmx_port_id: 2

artnet:
  id: artnet_node
  name_short: "esp-artnet-dmx"
  name_long: "ESPHome ArtNet to DMX Node"

  output:
    address: 10.1.1.198

  route:
    - dmx_id: dmx_bus_a
      universe: 0
      direction: to_dmx

    - dmx_id: dmx_bus_b
      universe: 0
      direction: to_dmx

text:
  - platform: template
    id: artnet_dest_address
    name: "ArtNet Destination Address"
    mode: text
    optimistic: true
    restore_value: true
    web_server:
      sorting_group_id: artnet_destination_settings
    set_action:
      lambda: |-
        id(artnet_node).set_output_address(x);


number:
  - platform: template
    id: artnet_dmx_a_universe
    name: "ArtNet DMX A Universe"
    min_value: 0
    max_value: 15
    initial_value: 0
    step: 1
    mode: box
    optimistic: true
    restore_value: true
    web_server:
      sorting_group_id: artnet_routing_settings
    set_action:
      lambda: |-
        id(artnet_node).set_route_universe_by_index(0, (uint8_t)x);

  - platform: template
    id: artnet_dmx_b_universe
    name: "ArtNet DMX B Universe"
    min_value: 0
    max_value: 15
    initial_value: 0
    step: 1
    mode: box
    optimistic: true
    restore_value: true
    web_server:
      sorting_group_id: artnet_routing_settings
    set_action:
      lambda: |-
        id(artnet_node).set_route_universe_by_index(1, (uint8_t)x);

  - platform: template
    id: artnet_net
    name: "ArtNet Net"
    min_value: 0
    max_value: 127
    initial_value: 0
    step: 1
    mode: box
    optimistic: true
    restore_value: true
    web_server:
      sorting_group_id: artnet_node_settings
    set_action:
      lambda: |-
        id(artnet_node).set_net((uint8_t)x);

  - platform: template
    id: artnet_subnet
    name: "ArtNet Subnet"
    min_value: 0
    max_value: 15
    initial_value: 0
    step: 1
    mode: box
    optimistic: true
    restore_value: true
    web_server:
      sorting_group_id: artnet_node_settings
    set_action:
      lambda: |-
        id(artnet_node).set_subnet((uint8_t)x);

  - platform: template
    id: artnet_dest_net
    name: "ArtNet Destination Net"
    min_value: 0
    max_value: 127
    initial_value: 0
    step: 1
    mode: box
    optimistic: true
    restore_value: true
    web_server:
      sorting_group_id: artnet_destination_settings
    set_action:
      lambda: |-
        id(artnet_node).set_output_net((uint8_t)x);

  - platform: template
    id: artnet_dest_subnet
    name: "ArtNet Destination Subnet"
    min_value: 0
    max_value: 15
    initial_value: 0
    step: 1
    mode: box
    optimistic: true
    restore_value: true
    web_server:
      sorting_group_id: artnet_destination_settings
    set_action:
      lambda: |-
        id(artnet_node).set_output_subnet((uint8_t)x);

  - platform: template
    id: dmx_a_write_frequency
    name: "DMX Port A Write Frequency"
    min_value: 1
    max_value: 44
    initial_value: 40.0
    step: 1
    mode: box
    optimistic: true
    restore_value: true
    web_server:
      sorting_group_id: dmx_port_hardware
    set_action:
      lambda: |-
        id(dmx_bus_a).set_write_frequency(x);

  - platform: template
    id: dmx_a_read_frequency
    name: "DMX Port A Read Frequency"
    min_value: 1
    max_value: 44.1
    initial_value: 40.0
    step: 1
    mode: box
    optimistic: true
    restore_value: true
    web_server:
      sorting_group_id: dmx_port_hardware
    set_action:
      lambda: |-
        id(dmx_bus_a).set_read_frequency(x);

  - platform: template
    id: dmx_b_write_frequency
    name: "DMX Port B Write Frequency"
    min_value: 1
    max_value: 44.1
    initial_value: 40.0
    step: 1
    mode: box
    optimistic: true
    restore_value: true
    web_server:
      sorting_group_id: dmx_port_hardware
    set_action:
      lambda: |-
        id(dmx_bus_b).set_write_frequency(x);

  - platform: template
    id: dmx_b_read_frequency
    name: "DMX Port B Read Frequency"
    min_value: 1
    max_value: 44.1
    initial_value: 40.0
    step: 1
    mode: box
    optimistic: true
    restore_value: true
    web_server:
      sorting_group_id: dmx_port_hardware
    set_action:
      lambda: |-
        id(dmx_bus_b).set_read_frequency(x);

select:
  - platform: template
    id: dmx_a_routing
    name: "DMX Port A Routing"
    optimistic: true
    restore_value: true
    initial_option: "Disconnected"
    options:
      - "Disconnected"
      - "ArtNet to DMX"
      - "DMX to ArtNet"
    web_server:
      sorting_group_id: artnet_routing_settings
    set_action:
      lambda: |-
        if (x == "Disconnected") {
          id(artnet_node).set_route_enabled_by_index(0, false);
        } else if (x == "ArtNet to DMX") {
          id(artnet_node).set_route_enabled_by_index(0, true);
          id(artnet_node).set_route_direction_by_index(0, esphome::artnet::Direction::DIRECTION_TO_DMX);
        } else if (x == "DMX to ArtNet") {
          id(artnet_node).set_route_enabled_by_index(0, true);
          id(artnet_node).set_route_direction_by_index(0, esphome::artnet::Direction::DIRECTION_TO_ARTNET);
        }

  - platform: template
    id: dmx_b_routing
    name: "DMX Port B Routing"
    optimistic: true
    restore_value: true
    initial_option: "Disconnected"
    options:
      - "Disconnected"
      - "ArtNet to DMX"
      - "DMX to ArtNet"
    web_server:
      sorting_group_id: artnet_routing_settings
    set_action:
      lambda: |-
        if (x == "Disconnected") {
          id(artnet_node).set_route_enabled_by_index(1, false);
        } else if (x == "ArtNet to DMX") {
          id(artnet_node).set_route_enabled_by_index(1, true);
          id(artnet_node).set_route_direction_by_index(1, esphome::artnet::Direction::DIRECTION_TO_DMX);
        } else if (x == "DMX to ArtNet") {
          id(artnet_node).set_route_enabled_by_index(1, true);
          id(artnet_node).set_route_direction_by_index(1, esphome::artnet::Direction::DIRECTION_TO_ARTNET);
        }

switch:
  - platform: template
    id: dmx_a_enabled
    name: "DMX Port A Enabled"
    optimistic: true
    restore_mode: RESTORE_DEFAULT_ON
    web_server:
      sorting_group_id: dmx_port_hardware
    turn_on_action:
      lambda: |-
        id(dmx_bus_a).set_enabled(true);
    turn_off_action:
      lambda: |-
        id(dmx_bus_a).set_enabled(false);

  - platform: template
    id: dmx_b_enabled
    name: "DMX Port B Enabled"
    optimistic: true
    restore_mode: RESTORE_DEFAULT_ON
    web_server:
      sorting_group_id: dmx_port_hardware
    turn_on_action:
      lambda: |-
        id(dmx_bus_b).set_enabled(true);
    turn_off_action:
      lambda: |-
        id(dmx_bus_b).set_enabled(false);

# i2c:
#   sda: GPIO21
#   scl: GPIO22
#   frequency: 800kHz

# font:
#   - file: "gfonts://Open Sans"
#     id: main_font
#     size: 10

# text_sensor:
#   - platform: wifi_info
#     ip_address:
#       internal: true
#       id: wifi_ip
#     ssid:
#       id: wifi_ssid

# display:
#   - platform: ssd1306_i2c
#     model: "SSD1306 128x64"
#     address: 0x3C
#     update_interval: 100ms
#     lambda: |-
#       int y_cursor = 0;
#       const int padding = -1; // Extra vertical space between lines

#       it.printf(0, y_cursor, id(main_font),"SSID: %s",
#         id(wifi_ssid).state != "" ? id(wifi_ssid).state.c_str() : "Disconnected");

#       y_cursor += id(main_font).get_height() + padding;

#       it.printf(0, y_cursor, id(main_font), "IP: %s",
#         id(wifi_ip).state != "" ? id(wifi_ip).state.c_str() : "Disconnected");

#       y_cursor += id(main_font).get_height() + padding;

#       it.printf(0, y_cursor, id(main_font), "ArtNet Net: 0 Sub: 0");

#       y_cursor += id(main_font).get_height() + padding;

#       // Line 3: DMX port configuration
#       std::string dmx_a_mode = id(dmx_bus_a).get_mode() == dmx::DMXMode::DMX_MODE_SEND ? "Send" : "Receive";
#       std::string dmx_a_name = id(dmx_bus_a).get_name();
#       it.printf(0, y_cursor, id(main_font), "%s mode: %s", dmx_a_name.c_str(), dmx_a_mode.c_str());

#       y_cursor += id(main_font).get_height() + padding;

#       std::string dmx_b_mode = id(dmx_bus_b).get_mode() == dmx::DMXMode::DMX_MODE_SEND ? "Send" : "Receive";
#       std::string dmx_b_name = id(dmx_bus_b).get_name();
#       it.printf(0, y_cursor, id(main_font), "%s mode: %s", dmx_b_name.c_str(), dmx_b_mode.c_str());