esp32:
  board: esp32dev
  framework:
    type: arduino

esphome:
  name: artnet-dmx-converter
  friendly_name: ArtNet to DMX Converter
  # platformio_options:
  #   board_build.flash_mode: dio
  on_boot:
    # Use a high priority like 600 to ensure most components are initialized.
    # The default is 0.
    priority: 600 
    then:
      # Apply DMX Port A settings
      - lambda: |-
          id(dmx_bus_a).set_enabled(id(dmx_a_enabled).state);
          id(dmx_bus_a).set_write_frequency((float)id(dmx_a_write_frequency).state);
          id(dmx_bus_a).set_read_frequency((float)id(dmx_a_read_frequency).state);
      # Apply DMX Port B settings
      - lambda: |-
          id(dmx_bus_b).set_enabled(id(dmx_b_enabled).state);
          id(dmx_bus_b).set_write_frequency((float)id(dmx_b_write_frequency).state);
          id(dmx_bus_b).set_read_frequency((float)id(dmx_b_read_frequency).state);

wifi:
  networks:
  - ssid: !secret wifi_ssid
    password: !secret wifi_password
  fast_connect: true
  use_address: !secret artnet_local_ip

<<: !include base-esphome-configuration.yaml

logger:
  baud_rate: 0
  level: VERY_VERBOSE
  initial_level: DEBUG
  logs:
    text_sensor: INFO
    # dmx: VERY_VERBOSE
    # artnet: VERBOSE

web_server:
    port: 80
    local: true
    version: 3
    sorting_groups:
      - id: dmx_port_hardware
        name: "DMX Port Hardware Settings"

external_components:
  # - source: github://H3mul/esphome-dmx
  # - source: github://H3mul/esphome-artnet

  - source: ../../esphome-dmx/components
  - source: ../../esphome-artnet/components

# Configure DMX bus instances for bidirectional communication
dmx:
  - id: dmx_bus_a
    mode: send
    name: "Port A"
    enable_pin:
      number: GPIO33
    tx_pin:
      number: GPIO25
    rx_pin:
      number: GPIO26
    dmx_port_id: 2

  - id: dmx_bus_b
    mode: send
    name: "Port B"
    enable_pin:
      number: GPIO32
    tx_pin:
      number: GPIO19
    rx_pin:
      number: GPIO18
    dmx_port_id: 1

artnet:
  name_short: "esp-artnet-dmx"
  name_long: "ESPHome ArtNet to DMX Node"

  output:
    address: 10.1.1.198
    flush_period: 100ms

  route:
    - dmx_id: dmx_bus_a
      universe: 0
      direction: to_dmx

    - dmx_id: dmx_bus_b
      universe: 1
      direction: to_dmx

number:
  - platform: template
    id: dmx_a_write_frequency
    name: "DMX Port A Write Frequency"
    min_value: 1
    max_value: 50
    initial_value: 40.0
    step: 1
    mode: box
    optimistic: true
    restore_value: true
    web_server:
      sorting_group_id: dmx_port_hardware
    set_action:
      lambda: |-
        id(dmx_bus_a).set_write_frequency(x);

  - platform: template
    id: dmx_a_read_frequency
    name: "DMX Port A Read Frequency"
    min_value: 1
    max_value: 44.1
    initial_value: 40.0
    step: 1
    mode: box
    optimistic: true
    restore_value: true
    web_server:
      sorting_group_id: dmx_port_hardware
    set_action:
      lambda: |-
        id(dmx_bus_a).set_read_frequency(x);

  - platform: template
    id: dmx_b_write_frequency
    name: "DMX Port B Write Frequency"
    min_value: 1
    max_value: 44.1
    initial_value: 40.0
    step: 1
    mode: box
    optimistic: true
    restore_value: true
    web_server:
      sorting_group_id: dmx_port_hardware
    set_action:
      lambda: |-
        id(dmx_bus_b).set_write_frequency(x);

  - platform: template
    id: dmx_b_read_frequency
    name: "DMX Port B Read Frequency"
    min_value: 1
    max_value: 44.1
    initial_value: 40.0
    step: 1
    mode: box
    optimistic: true
    restore_value: true
    web_server:
      sorting_group_id: dmx_port_hardware
    set_action:
      lambda: |-
        id(dmx_bus_b).set_read_frequency(x);

switch:
  - platform: template
    id: dmx_a_enabled
    name: "DMX Port A Enabled"
    optimistic: true
    restore_mode: RESTORE_DEFAULT_ON
    web_server:
      sorting_group_id: dmx_port_hardware
    turn_on_action:
      lambda: |-
        id(dmx_bus_a).set_enabled(true);
    turn_off_action:
      lambda: |-
        id(dmx_bus_a).set_enabled(false);

  - platform: template
    id: dmx_b_enabled
    name: "DMX Port B Enabled"
    optimistic: true
    restore_mode: RESTORE_DEFAULT_ON
    web_server:
      sorting_group_id: dmx_port_hardware
    turn_on_action:
      lambda: |-
        id(dmx_bus_b).set_enabled(true);
    turn_off_action:
      lambda: |-
        id(dmx_bus_b).set_enabled(false);

output:
  # Port A outputs
  - platform: dmx
    id: port_a_output_1
    dmx_bus_id: dmx_bus_a
    channel: 1

  - platform: dmx
    id: port_a_output_2
    dmx_bus_id: dmx_bus_a
    channel: 2

  - platform: dmx
    id: port_a_output_3
    dmx_bus_id: dmx_bus_a
    channel: 3

  - platform: dmx
    id: port_a_output_4
    dmx_bus_id: dmx_bus_a
    channel: 4

  # Port B outputs
  - platform: dmx
    id: port_b_output_1
    dmx_bus_id: dmx_bus_b
    channel: 1

  - platform: dmx
    id: port_b_output_2
    dmx_bus_id: dmx_bus_b
    channel: 2

  - platform: dmx
    id: port_b_output_3
    dmx_bus_id: dmx_bus_b
    channel: 3

  - platform: dmx
    id: port_b_output_4
    dmx_bus_id: dmx_bus_b
    channel: 4

light:
  - platform: monochromatic
    name: "Port A Intensity Light"
    output: port_a_output_1
    default_transition_length: 3s

  - platform: monochromatic
    name: "Port B Intensity Light"
    output: port_b_output_1
    default_transition_length: 3s

  - platform: rgb
    name: "Port A RGB Light"
    red: port_a_output_2
    green: port_a_output_3
    blue: port_a_output_4
    default_transition_length: 3s

  - platform: rgb
    name: "Port B RGB Light"
    red: port_b_output_2
    green: port_b_output_3
    blue: port_b_output_4
    default_transition_length: 3s

# sensor:
#   - platform: dmx
#     dmx_bus_id: dmx_bus_a
#     channel: 1
#     id: dmx_sensor_1
#     name: "DMX Channel 1 Value"

#   - platform: dmx
#     dmx_bus_id: dmx_bus_a
#     channel: 2
#     id: dmx_sensor_2
#     name: "DMX Channel 2 Value"

#   - platform: dmx
#     dmx_bus_id: dmx_bus_a
#     channel: 3
#     id: dmx_sensor_3
#     name: "DMX Channel 3 Value"

#   - platform: artnet
#     id: artnet_input_3
#     name: "ArtNet Universe 2 Channel 1"
#     universe: 2
#     channel: 1

# output:
#   # Red channel of RGB light (universe 1, channel 1)
#   - platform: artnet
#     id: artnet_output_1
#     universe: 6
#     channel: 1

#   # Green channel of RGB light (universe 1, channel 2)
#   - platform: artnet
#     id: artnet_output_2
#     universe: 6
#     channel: 2

#   # Blue channel of RGB light (universe 1, channel 3)
#   - platform: artnet
#     id: artnet_output_3
#     universe: 6
#     channel: 3

# light:
#   - platform: rgb
#     name: "Artnet input controlled RGB Light"
#     # Map Art-Net channels to RGB components
#     red: artnet_output_1
#     green: artnet_output_2
#     blue: artnet_output_3

# i2c:
#   sda: GPIO21
#   scl: GPIO22
#   frequency: 800kHz

# font:
#   - file: "gfonts://Open Sans"
#     id: main_font
#     size: 10

# text_sensor:
#   - platform: wifi_info
#     ip_address:
#       internal: true
#       id: wifi_ip
#     ssid:
#       id: wifi_ssid

# display:
#   - platform: ssd1306_i2c
#     model: "SSD1306 128x64"
#     address: 0x3C
#     update_interval: 100ms
#     lambda: |-
#       int y_cursor = 0;
#       const int padding = -1; // Extra vertical space between lines

#       it.printf(0, y_cursor, id(main_font),"SSID: %s",
#         id(wifi_ssid).state != "" ? id(wifi_ssid).state.c_str() : "Disconnected");

#       y_cursor += id(main_font).get_height() + padding;

#       it.printf(0, y_cursor, id(main_font), "IP: %s",
#         id(wifi_ip).state != "" ? id(wifi_ip).state.c_str() : "Disconnected");

#       y_cursor += id(main_font).get_height() + padding;

#       it.printf(0, y_cursor, id(main_font), "ArtNet Net: 0 Sub: 0");

#       y_cursor += id(main_font).get_height() + padding;

#       // Line 3: DMX port configuration
#       std::string dmx_a_mode = id(dmx_bus_a).get_mode() == dmx::DMXMode::DMX_MODE_SEND ? "Send" : "Receive";
#       std::string dmx_a_name = id(dmx_bus_a).get_name();
#       it.printf(0, y_cursor, id(main_font), "%s mode: %s", dmx_a_name.c_str(), dmx_a_mode.c_str());

#       y_cursor += id(main_font).get_height() + padding;

#       std::string dmx_b_mode = id(dmx_bus_b).get_mode() == dmx::DMXMode::DMX_MODE_SEND ? "Send" : "Receive";
#       std::string dmx_b_name = id(dmx_bus_b).get_name();
#       it.printf(0, y_cursor, id(main_font), "%s mode: %s", dmx_b_name.c_str(), dmx_b_mode.c_str());