esp32:
  board: esp32dev
  framework:
    type: arduino

esphome:
  name: artnet-dmx-converter
  friendly_name: ArtNet to DMX Converter
  # platformio_options:
  #   board_build.flash_mode: dio

wifi:
  networks:
  - ssid: !secret wifi_ssid
    password: !secret wifi_password
  fast_connect: true
  use_address: !secret artnet_local_ip

<<: !include base-esphome-configuration.yaml

logger:
  level: DEBUG

web_server:
    port: 80
    local: true
    version: 3

external_components:
  # - source: github://H3mul/esphome-artnet
  #   components: [ artnet_receiver ]
  - source: ../../esphome-artnet/components

artnet:
  output:
    address: 10.1.1.198

sensor:
  # ArtNet sensor on universe 1, channel 1
  - platform: artnet
    id: artnet_input_1
    name: "ArtNet Universe 1 Channel 1"
    universe: 1
    channel: 1

  # ArtNet sensor on universe 1, channel 2
  - platform: artnet
    id: artnet_input_2
    name: "ArtNet Universe 1 Channel 2"
    universe: 1
    channel: 2

  - platform: artnet
    id: artnet_input_3
    name: "ArtNet Universe 2 Channel 1"
    universe: 2
    channel: 1

output:
  # Red channel of RGB light (universe 1, channel 1)
  - platform: artnet
    id: artnet_output_1
    universe: 6
    channel: 1

  # Green channel of RGB light (universe 1, channel 2)
  - platform: artnet
    id: artnet_output_2
    universe: 6
    channel: 2

  # Blue channel of RGB light (universe 1, channel 3)
  - platform: artnet
    id: artnet_output_3
    universe: 6
    channel: 3

light:
  - platform: rgb
    name: "Artnet input controlled RGB Light"
    # Map Art-Net channels to RGB components
    red: artnet_output_1
    green: artnet_output_2
    blue: artnet_output_3
